allure-firebase.iml
.idea
*/**/node_modules
*/node_modules

*/.env.slack
# Act
*/act.secrets
*/act.variables
*/act.event.json

*key.json
*.js
*.d.ts
*/dist

*/coverage
*/**/coverage

*/test*.sh
*/**/test*.sh
!*/test-action.sh
