allure-firebase.iml
.idea
packages/**/node_modules
node_modules

.env.slack
# Act
*/act.secrets
*/act.variables
*/act.event.json

*key.json
*.js
*.d.ts
packages/**/dist
#jest
packages/**/coverage
*/test*.sh
*/**/test*.sh
!*/test-action.sh
