allure-deployer.iml
.idea
*/**/node_modules
*/node_modules
node_modules

.env
*/act.secrets
*/act.variables
*/act.event.json

*key.json
*.js
*.d.ts
*/**/dist
*/dist

*/coverage
*/**/coverage

*/test*.sh
*/**/test*.sh
!*/test-action.sh

allure-report
*/allure-report
*/**/allure-report
allure-results
*/**/allure-results
*.cast